:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Delius Unicase", cursive;
}

section {
  max-width: 1170px;
  margin: auto;

  @media (max-width: 1199px) {
    max-width: 760px;
  }

  @media (max-width: 829px) {
    max-width: calc(100% - 20px);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  grid-auto-rows: 370px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 370px);
    gap: 20px;
  }

  @media (max-width: 829px) {
    grid-template-columns: 100%;
    gap: 10px;
  }

  li {
    display: grid;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;
    color: #fff;
    font-family: var(--font-family);
    overflow: hidden;

    &:not(:hover)::before,
    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(
        0deg,
        #241f24 0%,
        #5b5b5b73 34.11%,
        #bbbac042 62.5%
      );
      transition: 0.4s;
      pointer-events: none;
    }

    &:hover::after {
      background: linear-gradient(
        0deg,
        #241f24 1.04%,
        #5b5b5b42 6.99%,
        #bbbac000 12.29%
      );
      transform: rotate(360deg);
    }

    @media (min-width: 1200px) {
      &.wide {
        grid-column: span 2;
      }

      &.tall {
        grid-row: span 2;
      }
    }

    button {
      width: 40px;
      height: 40px;
      background-color: #e0e0e0;
      border: none;
      border-radius: 8px;
      background-image: url(imagen/icon-heart.svg);
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.4s;

      &:not(:hover) {
        opacity: 0.5;
      }

      &:last-of-type {
        margin-left: auto;
        background-image: url(imagen/icon-download.svg);
      }
    }

    &:not(:hover) {
      &::after {
        opacity: 0;
      }

      button {
        opacity: 0;
      }
    }

    &:hover {
      ::before {
        opacity: 0;
      }

      img {
        scale: 1.2;
      }
    }

    img {
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: 0.4s;
    }

    span {
      z-index: 1;
    }
  }
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
